.settings-preview__course {
  width: calc(14.2857% - 9.143px);
}

.settings-preview__course[style*="--day:1"] { left: 64px; }
.settings-preview__course[style*="--day:2"] { left: calc(14.2857% + 54.857px); }
.settings-preview__course[style*="--day:3"] { left: calc(28.5714% + 45.714px); }
.settings-preview__course[style*="--day:4"] { left: calc(42.8571% + 36.571px); }
.settings-preview__course[style*="--day:5"] { left: calc(57.1428% + 27.429px); }
.settings-preview__course[style*="--day:6"] { left: calc(71.4285% + 18.286px); }
.settings-preview__course[style*="--day:7"] { left: calc(85.7142% + 9.143px); }

.settings-preview__course[style*="--row:1"] { top: 4px; }
.settings-preview__course[style*="--row:2"] { top: 72px; }
.settings-preview__course[style*="--row:3"] { top: 140px; }
.settings-preview__course[style*="--row:4"] { top: 208px; }
.settings-preview__course[style*="--row:5"] { top: 276px; }
.settings-preview__course[style*="--row:6"] { top: 344px; }

.settings-preview__course[style*="--span:1"] { height: 60px; }
.settings-preview__course[style*="--span:2"] { height: 128px; }
